#app {
    width: 700px;
    margin: 0 auto;
    font-family: arial;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 15px 30px;
    margin-bottom: 15px;
}

ul li:last-child {
    margin-bottom: 0;
}